extends layout

block estilos
    link(rel="stylesheet" href="/css/agenda.css")

block contenido
    main
        .container
          header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom
            a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href='/')
              svg.bi.me-2(width='40' height='32')
                use(xlink:href='#bootstrap')
              span.fs-4=pagina
            ul.nav.nav-pills
                a.nav-link(href='/logout') Cerrar sesión

    div(class="container" id="calendar")

    block footer
            
