div.modal.fade#modalPrincipal(tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true")
  div.modal-dialog.modal-lg
    div.modal-content
      div.modal-header.text-center
        h3.modal-title.w-100#modalLabel Historia Clínica
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      div.modal-body
        h5.modal-title.text-success Información Personal
        div.row
          div.col-md-4
            p
              strong Nombre: 
              span#nombreCompletoPaciente
          div.col-md-4
            p
              strong DNI: 
              span#dniPaciente
          div.col-md-4
            p
              strong Género: 
              span#sexoPaciente
        h5.modal-title.text-success Datos de Contacto
        div.row
          div.col-md-6
            p
              strong Teléfono: 
              span#telefonoPaciente
          div.col-md-6
            p
              strong Email: 
              span#emailPaciente

        h5.modal-title.text-success Historial de Atenciones
        div#contenedorTablaConsultas
          table.table
            thead
              tr
                th Fecha
                th Médico
                th Motivo
                th Diagnósticos
                th Acciones
            tbody#tablaHistorialBody

      div.modal-footer
        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cerrar