extends layout

block estilos
    link(rel="stylesheet", href="css/login.css")

block contenido
    .container.d-flex.align-items-center.justify-content-center(style="min-height: calc(100vh - 100px)")
        .col-11.col-sm-8.col-md-6.col-lg-5.col-xl-4
            h1.text-center.mb-3.text-success
                | Agenda
                span.ms-2 Médica
            .card.shadow
                .card-body.p-3.p-sm-4
                    h2.text-center.mb-3=pagina

                    if error
                        .alert.alert-danger.mb-3=error

                    form(action='login', method='POST')
                        .form-group.mb-2
                            .input-group
                                span.input-group-text
                                    i.fa.fa-user
                                input#user.form-control(type='text', name='user', placeholder='Usuario', required)
                        
                        .form-group.mb-2
                            .input-group
                                span.input-group-text
                                    i.fa.fa-lock
                                input#pass.form-control(type='password', name='pass', placeholder='Contraseña', required)
                        
                        .d-flex.flex-column.flex-sm-row.justify-content-center.align-items-center.gap-2
                            button.btn.btn-success(type='submit') Ingresar
    
    block footer