body {
    background-image: url("../images/imagenMedicina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Establece la altura mínima del contenido principal para ocupar toda la pantalla */
.contenidoPrincipal {
    min-height: 100vh;
}

/* Estilo para los encabezados h6 dentro del cuerpo del modal */
.modal-body h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* Estilo para los divs dentro del cuerpo del modal */
.modal-body > div {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

/* Elimina el borde inferior del último div en el cuerpo del modal */
.modal-body > div:last-child {
    border-bottom: none;
}

/* Establece el ancho completo para la tabla de historia clinica */
#tablaHistoriaClinica {
    width: 100%;
}

/* Contenedor de DataTables con scroll horizontal */
.dataTables_wrapper {
    width: 100%;
    overflow-x: auto;
}

/* Estilo para las celdas de la tabla de historia clinica */
#tablaHistoriaClinica td {
    max-width: 200px;
    white-space: normal;
    word-wrap: break-word;
}

/* Oculta el segundo encabezado de scroll de DataTables */
.dataTables_scrollHead:nth-child(2) {
    display: none;
}

/* Ajustes para FullCalendar */
.fc-timegrid-slot {
    height: 40px !important; /* Altura fija para cada slot de tiempo */
}

.fc-timegrid-slot-lane {
    height: 100% !important;
}

.fc .fc-timegrid-slot-minor {
    border-top-style: none !important;
}

.fc .fc-timegrid-now-indicator-line {
    border-color: red !important;
    border-style: solid !important;
}

/* Asegura que el último slot no se estire */
.fc .fc-timegrid-slot:last-child {
    border-bottom: 1px solid var(--fc-border-color) !important;
    height: 40px !important;
}

/* Contenedor principal del calendario */
.fc-timegrid-container {
    overflow: hidden !important;
}

/* Ajustes para FullCalendar */
.fc-event {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important; /* Asegura que el evento ocupe todo el slot */
    width: 100% !important; /* Asegura que el evento ocupe todo el ancho disponible */
    white-space: normal; /* Permite que el texto se ajuste al tamaño del evento */
    overflow: hidden; /* Evita que el contenido se desborde */
    text-align: center; /* Centra el texto dentro del evento */
}

.fc-timegrid-event {
    overflow: hidden !important;
}

.fc-timegrid-event .fc-event-main {
    padding: 0 !important;
}

.fc-v-event {
    min-height: unset !important;
}
