body {
    background-image: url("../images/imagenMedicina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.btn-success {
    border-radius: 30px;
    padding: 8px 25px;
}